:root{
    --primary-bg: #F3607F;
    --secondary-bg: #FEF2F4;
    --primary-contrast: #B5E21F;
    --secondary-contrast: #8CB10F;
    --text-color:#282021;
    --text-color-contrast:#FEF2F4;
    --font-text: "Nunito", sans-serif;
    --font-title: "Domine", serif;
}

* {
    color: var(--text-color);
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    font-size: 62.5%;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

.loading {
    display: none;
    background-color: var(--secondary-bg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: 1;
}

.loading img {
    display: block;
    max-width: 150px;
    margin-bottom: 15px;
    margin-left: 10px;
    animation: loading 2s ease-in-out infinite;
}

.loading-text {
    display: block;
    font-size: 2.4rem;
    font-family: var(--font-title);
    text-transform: uppercase;
    position: relative;
    top: 20%;
    left: 45%;
    max-width: fit-content;
}

.loading-on {
    display: block;
}

@keyframes loading {
  0%,
  100% {
    opacity: 0.6;
    transform: scale(0.98);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

header{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    padding: 1rem 9rem;
}

.list-nav {
    display: flex;
}

.list-nav li::after {
    display: inline-block;
    content: "";
    background-color: var(--primary-contrast);
    width: 20px;
    height: 5px;
    margin: 0px 5px;
    margin-bottom: 2.5px;
}

.list-nav li:last-child::after {
    display: none;
}

.list-nav li a {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color-contrast);
}

.list-nav li a:hover, #sobre-button:hover, footer a:hover {
    opacity: .85;
    transition: .15s ease-in-out;
}

main {
    animation: entradaMain 0.6s ease-out both;
}

@keyframes entradaMain {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#home {
    background-image: url("../assets/background-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8% 0px;
}

#home > h1,#sobre, #obj {
    display: grid;
    place-items: center;
}

#home > h1 p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.2rem;
    font-family: var(--font-title);
    color: var(--text-color-contrast);
    font-weight: bold;
    width: fit-content;
}

#home > h1 p::after {
    content: "";
    background-color: var(--primary-contrast);
    margin: 5px 0px;
    width: 70%;
    height: 5px;
    align-self: center;
}

.section-title {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    font-family: var(--font-title);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0px;
    width: fit-content;
}

.section-title::after {
    display: block;
    content: "";
    background-color: var(--primary-contrast);
    width: 75%;
    height: 5px;
    align-self: center;
}

.sobre-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(2rem + 3vw);
    margin-bottom: 30px;
}

.sobre-description p {
    font-size: 1.8rem;
    max-width: 580px;
    text-align: center;
    padding: 0px 15px;
}

.sobre-icons {
    display: flex;
    gap: 60px;
}

.sobre-icons li:nth-child(even) {
    margin-top: 60px;
}

#sobre-button {
    background-color: var(--primary-bg);
    font-size: 1.4rem;
    font-family: var(--font-title);
    color: var(--text-color-contrast);
    padding: 12px 50px;
    border: none;
    border-radius: 15px;
}

#obj {
    background-color: var(--secondary-bg);
    margin-top: 90px;
    padding: 0px 15px 90px 15px;
}

.obj-list {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.obj-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.obj-list h3 {
    font-size: 2.4rem;
    font-family: var(--font-title);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 5px;
}

.obj-list p {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    max-width: 300px;
}


footer {
    background-color: var(--primary-bg);
    padding: 30px 0;
    text-align: center;

}

footer > p {
    font-size: 1.6rem;
    color: var(--text-color-contrast);
}

footer a {
    font-size: 1.6rem;
    color: var(--primary-contrast);
}

@media (max-width:1050px) {
 
    .clear {
        display: none;
    }

    header {
        justify-content: center;
    }

    #home > h1 p {
        font-size: 2.4rem;
    }

    .section-title {
        padding-bottom: 30px;
    }

}

@media (max-width:670px) {

    #home > h1 p {
        font-size: 1.8rem;
    }

    .section-title {
        padding: 30px 0px;
    }

    #obj{
        margin-top: 60px;
    }

}

@media (max-width:450px) {

    .list-nav {
        display: flex;
        gap: 15px;
    }

    .list-nav li::after {
        display: none;
    }

    #home > h1 p {
        font-size: 1.4rem;
    }

    .sobre-description p {
        font-size: 1.4rem;
        max-width: 380px;
    }

    .sobre-icons {
        gap: 30px;
    }
}